server {
    listen 80;
    server_name server_domain_or_IP;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        autoindex on;
        alias /home/nginx_user/rishat_nginx/django_static/;
    }

    location / {
        proxy_pass ${PROXY_ADDRESS};
    }
}